{{> nav/nav-block}}

{{#if isloggedin}}
  <div class="app-container">
    <ul>
      {{#each currentUsersJabber}}
        <li data-id="{{this.id}}" class="list-group-item">
          <p>
            {{this.description}}
            <i class="fas fa-pen text-dark float-right edit-jabber mr-4"></i> </a>
            <i class='fas fa-trash-alt text-danger float-right delete-jabber mr-4'></i>
            {{!-- <i class="fas fa-thumbs-up float-right mr-4"> {{this.like}}</i> --}}
            <i class="fas fa-thumbs-up float-right mr-4"> 10</i></p>
            <p> {{#if this.place}}
              at {{this.place}}
              {{#if this.state}}
               , {{this.state}}
              {{/if}}
            {{/if}}</p>
        </li>
      {{/each}}
    </ul>
    <hr>
    <div class="row">
      {{#each othersJabber}}
        <div class="col-sm-4">
          <div class="card h-100">
              <div class="card-body">
                <img src={{this.User.avatar}} class="card-img-top" alt="Avatar">
                <h5 class="card-text"> {{this.User.firstName}} {{this.User.lastName}}</h5>
                <p class='jabber-desc'>
                  {{this.description}}
                  <i class="fas fa-thumbs-up float-right like-jabber mr-4"> 10</i></p>
                  <p> {{#if this.place}}
                    at {{this.place}}
                    {{#if this.state}}
                    , {{this.state}}
                    {{/if}}
                  {{/if}}</p>
                </p>
              </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}
<script src="/assets/js/jabber.js"></script>

{{> modal/login-block}}
