{{> nav/nav-block}}

{{#if isloggedin}}
  <div class="app-container">
    <ul>
      {{#each currentUsersJabber}}
        <li data-id="{{this.id}}" class="list-group-item">
          <p>
            <strong>{{this.description}}</strong>
            <div>
            <i data-id="{{this.id}}" class="fas fa-pen text-dark float-right edit-jabber mr-4"></i>
            <i data-id="{{this.id}}" class='fas fa-trash-alt text-danger float-right delete-jabber mr-4'></i>
            <i class="fas fa-thumbs-up float-right mr-4">  {{this.like}}</i>
            </div>
          </p>
          Location: 
          {{#if this.place}}
            {{this.place}}
            {{#if this.state}}
              , {{this.state}} 
            {{/if}}
          {{else}} 
            {{#if this.state}} 
              {{this.state}}
            {{/if}}
          {{/if}}
        </li>
      {{/each}}
    </ul>
    <hr>
    <div class="row row-cols-1 row-cols-md-3">
      {{#each othersJabber}}
        <div class="col mb-4">
          <div class="card h-100">  
            <div class="card-body">
              <img src={{this.User.avatar}} class="card-img-top" alt="Avatar">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong><em>{{this.User.firstName}} {{this.User.lastName}}</em></strong></li>
                <li id={{this.id}} class="list-group-item"><strong>{{this.description}} </strong><i data-id="{{this.id}}" data-value="{{this.like}}" class="fas fa-thumbs-up float-right like-jabber mr-2">  {{this.like}}</i></li>
                <li class="list-group-item">{{#if this.place}}
                  {{this.place}}
                    {{#if this.state}}
                    , {{this.state}}   <a href="https://www.openstreetmap.org/search?query={{this.place}} {{this.state}}" target="_blank">Location</a>
                    {{/if}}
                  {{else}}
                  {{!-- If user has not provided a place, don't provide a link for location --}}
                    {{#if this.state}}
                      {{this.state}}
                    {{/if}}
                  {{/if}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      {{/each}}
  </div>
{{/if}}
<script src="/assets/js/jabber.js"></script>

{{> modal/login-block}}
