{{> nav/nav-block user=true register=false}}

<div class="container">
  <header align="center" class="header-wrap">
    <h3>Update your Jabber</h3>
  </header>

  <form id="jabber-form">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="jabber-description">Description</label>
        <input type="text" class="form-control" id="jabber-description" value="{{jabber.description}}">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="jabber-place">Place</label>
        <input type="text" class="form-control" id="jabber-place" value="{{jabber.place}}">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="jabber-state">State</label>
        <input type="text" class="form-control" id="jabber-state" value="{{jabber.state}}">
      </div>
    </div>

    <div>
      <button type="submit" id="update-jabber" data-id="{{jabber.id}}" class="btn btn-primary">Update</button>
      <button type="submit" id="cancel-update" data-id="{{jabber.id}}" class="btn btn-primary">Cancel</button>
    </div>
  </form>
</div>
<script src="/assets/js/jabber.js"></script>

{{> modal/login-block}}
