{{> nav/nav-block}}

<div class="container">
  <header align="center" class="header-wrap">
    <h3>Update your Jabber</h3>
  </header>

  <form id="jabber-form">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" value="{{jabber.description}}">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="place">Place</label>
        <input type="text" class="form-control" id="place" value="{{jabber.place}}">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="state">State</label>
        <input type="test" class="form-control" id="state" value="{{jabber.state}}">
      </div>
    </div>

    <div>
      <button type="submit" id="update-jabber" data-id="{{jabber.id}}" class="btn btn-primary">Update</button>
      <button type="submit" id="cancel-jabber" data-id="{{jabber.id}}" class="btn btn-primary">Cancel</button>
    </div>
  </form>
</div>
<script src="/assets/js/jabber.js"></script>

{{> modal/login-block}}
